#crystal1,
#crystal2,
#crystal3,
#crystal4 {
	width: 275px;
	height: 350px;
}

body {
	font-family: 'Dosis', cursive;
	background: #eee;
	color: #BD567B;
	margin: 70px;
	text-align: center;
	/*border: #BD567B solid 10px;*/
}

#crystals {
	margin: -20px;
}

p {
	color: #2C457D;
	font-size: 20px;
	line-height: 1;
}

h1 {
	font-size: 70px;
	letter-spacing: 5px;
	color: #BD567B;
	font-family: 'Shrikhand', cursive;
}

h2 {
	font-family: 'Dosis', cursive;
	font-size: 40px;
	color: #BD567B;
}

h3 {
	font-family: 'Dosis', cursive;
	font-size: 30px;
	color: #BD567B;
}

img:hover, {
	cursor: cell;
}

#top,
#bottom,
#left,
#right {
	background: #BD567B;
	position: fixed;
}

#left,
#right {
	top: 0; bottom: 0;
	width: 30px;
}
	#left { left: 0; }
	#right { right: 0; }

#top,
#bottom {
	left: 0; right: 0;
	height: 30px;
}
	#top { top: 0; }
	#bottom { bottom: 0; }
